$img-px: 150px;
$transition: all .5s;

.ibps-desktop-page {
    height: 100%;
    background-color: #e9edef;
    .verticalCenterFlex {
        display: flex;
        align-items: center;
        
        .el-card__body {
            padding: 0 20px;
        }
    }
    
    .changeShadow {
        .pendingAssigneeClass {
            margin: 12px 0 !important;
            cursor: pointer;
            .item-header > p {
                font-size: 16px;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .item-body {
                margin-top: 5px;
                margin-bottom: 5px;
                & > span {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            .item-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                opacity: .6;
            }
            @media (max-width: 1688px) {
                .item-header > p {
                    font-size: 16px;
                }
                .item-body {
                    & > span {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }
            @media (max-width: 1640px) {
                .item-bottom {
                    font-size: 12px;
                }
            }
            @media (max-width: 1580px) {
                .item-header > p {
                    font-size: 16px;
                }
                .item-body {
                    & > span {
                        font-size: 22px;
                    }
                }
                .item-bottom {
                    font-size: 11px;
                }
                
            }
            @media (max-width: 1455px) {
                .item-bottom {
                    font-size: 10px;
                }
            }
            @media (max-width: 1450px) {
                .item-header > p {
                    font-size: 16px;
                }
                .item-body {
                    & > span {
                        font-size: 20px;
                    }
                }
            }
            @media (max-width: 1355px) {
                .item-bottom {
                    font-size: 9px;
                }
            }
            @media (max-width: 1288px) {
                .item-header > p {
                    white-space: normal;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                .item-body {
                    & > span {
                        font-size: 18px;
                    }
                }
                .item-bottom {
                    font-size: 8px;
                }
            }
        }
        
        // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2) !important;
        
        .el-card__header {
            padding: 14px 20px 6px;
            .title {
                font-size: 16px;
                color: #000;
            }
            .badge {
                .el-badge__content.is-fixed {
                    top: 8px;
                    right: -5px;
                }
            }
        }
        
        .el-card__body {
            padding: 15px 20px;
            
            .tabs-title {
                display: flex;
                align-items: center;
            }
            
            .el-tabs__nav-scroll {
                display: flex;
                justify-content: center;
            }
            
            .el-tabs__nav {
                float: right;
                margin-right: 0;
            }
        }
        
        .totalityClass {
            color: #fff;
            background-color: red;
            border-radius: 100px;
            font-size: 12px;
            height: 100%;
            margin-left: 1%;
            padding: 0.8% 1.4% 0.2% 1.2%;
        }
        
        .el-tabs__header {
            margin: 0;
        }
        
        .el-link {
            font-size: 14px !important;
        }
        
        .ibps-list-item {
            padding: 4px 0;
            font-size: 14px;
            
            .ibps-list-item-meta-title {
                line-height: 14px;
            }
            
            .ibps-list-item-meta-description {
                line-height: 14px;
                font-size: 12px;
            }
        }
    }
    
    .home-card {
        .el-card__header {
            padding: 10px 20px;
        }
        .el-card__body {
            position: relative;
            padding: 10px 20px 15px;
            
            .hidden {
                overflow: hidden;
            }
            
            .body-chart {
                color: red;
                
                > div:last-child {
                    top: 0 !important;
                }
            }
            
            .draw-enter-to, .draw-leave {
                height: 200px;
            }
            
            .tabs-title {
                position: relative;
                z-index: 9999;
                display: flex;
                align-items: center;
                padding-top: 12px;
            }
            
            .tabs-toolbar {
                position: absolute;
                right: 20px;
                top: 20px;
                z-index: 9999;
            }
            
            .tabs-contents {
                position: relative;
                top: -25px;
            }
            
            .el-tabs__nav {
                float: right;
                margin-right: 200px;
            }
            
            .pending-Tabs {
                .el-tabs__nav {
                    float: initial !important;
                    margin-right: 0;
                }
            }
            
            .tabs-content {
                transition: $transition;
            }
            
            .ibps-item-content {
                img {
                    border-radius: 50%;
                    width: 100%;
                }
                .dept-tag {
                    margin-left: 4px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
                .ibps-item-content-title {
                    margin-bottom: 12px;
                    color: rgba(0, 0, 0, .85);
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                }
                
                .ibps-item-content-label {
                    flex: 1 1 auto;
                    color: rgba(0, 0, 0, .45);
                    line-height: 16px;
                }
                
                .ibps-item-content-extra {
                    color: rgba(0, 0, 0, .85);
                    font-size: 16px;
                }
                
                .ibps-list-icon {
                    margin-left: 20px;
                }
                
                .ibps-list-col-main {
                    margin: 0 0 0 3% !important;
                }
                
                .ibps-list-col-icon {
                    width: 150px;
                    height: 150px;
                    
                    > div {
                        width: 100%;
                        height: 100%;
                        
                        > span {
                            width: 100%;
                            height: 100%;
                            
                            i {
                                width: 100%;
                                height: 100%;
                                display: inline-block;
                                font-size: 130px;
                            }
                        }
                    }
                }
            }
            
            .nav-content {
                overflow-y: scroll;
                transition: $transition;
                
                span {
                    margin: 0 5px 5px 0;
                }
                
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    [alias="userInfo"] {
        .el-card__body {
            padding: 10px 20px;
            .ibps-item-content {
                .ibps-item-content-title {
                    line-height: 20px;
                    margin-bottom: 6px;
                }
                .ibps-item-content-label {
                    > div {
                        margin-bottom: 2px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

    }
    
    .pending-business {
        .ibps-list-col-main {
            margin: 0 0 5px 20px !important;
        }
    }
    
    .bg-red {
        background-color: #e7505a;
    }
    
    .bg-green {
        background-color: #32c5d2;
    }
    
    .bg-red-pink {
        background-color: #E08283;
    }
    
    .bg-green-meadow {
        background-color: #1BBC9B;
    }
    
    .bg-grey-steel {
        background-color: #e9edef;
    }
    
    .bg-yellow-crusta {
        background-color: #f3c200;
    }
    
    .bg-blue {
        background: #3598dc !important;
    }
    
    .bg-blue-madison {
        background: #578ebe !important;
    }
    
    .bg-orange {
        background-color: #FBD45B;
    }

    .bg-orange2 {
        background-color: #FCB56F;
    }
    
    .bg-light-brown {
        background-color: #64C7DA;
    }
}
